<!-- Update your form tag like this -->
<form action="/Email/Send" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <input type="email" name="To" class="form-control mb-2" placeholder="To" required />
        <input type="text" name="Subject" class="form-control mb-2" placeholder="Subject" />
        <textarea name="Body" class="form-control" rows="5"></textarea>
        
      
</form>
