<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <button class="btn btn-danger m-3" data-bs-toggle="modal" data-bs-target="#composeModal">Compose</button>
            <div class="list-group">
                <a asp-action="Inbox" class="list-group-item list-group-item-action">Inbox</a>
                <a asp-action="Sent" class="list-group-item list-group-item-action">Sent</a>
                <a asp-action="Starred" class="list-group-item list-group-item-action">Starred</a>
                <a asp-action="Spam" class="list-group-item list-group-item-action">Spam</a>
                <a asp-action="Trash" class="list-group-item list-group-item-action">Trash</a>
            </div>
        </nav>
        <main class="col-md-10">@RenderBody()</main>
    </div>
</div>
